{# Ecc12PRHomeBundle:Default:directory.html.twig #}
{% extends 'Ecc12PRHomeBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="span12">
            File path {{ file_path }}!
        </div>
    </div>
{% endblock %}

