{# Ecc12PRHomeBundle:Default:index.html.twig #}
{% extends 'Ecc12PRHomeBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="span12">
            Hello {{ name }}!
        </div>
    </div>
{% endblock %}
