{# Ecc12PRHomeBundle:Default:index.html.twig #}
{% extends 'Ecc12PRHomeBundle::base.html.twig' %}

{% block showcase %}
    <div class="showcase">
        <div class="container">
            <div class="row">
                <div class="span12">
                    {% block showcasecontent %}
                        <header class="js-animated">
                            <img src="{{ asset('bundles/ecc12prhome/images/PR_Logo.png') }}" alt="">
                        </header>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
