{# Ecc12PRHomeBundle:Default:index.html.twig #}
{% extends 'Ecc12PRHomeBundle::base.html.twig' %}

{% block subtitle %}{{ title }}{% endblock %}

{% block body %}
    {% if mode == "md" %}
        <div class="row">
            <div class="span12">
                {{ content|markdown }}
            </div>
        </div>
    {% elseif mode == "html" %}
        {{ content|raw }}
    {% elseif mode == "txt" %}
        <div class="row">
            <div class="span12">
                <pre>{{ content }}</pre>
            </div>
        </div>
    {% endif %}
{% endblock %}
